.board {
    background-color: rgb(20,189,172);
    min-width: 20vw;
    min-height: 20vw;
    max-width: 940px;
    margin: 0 auto;
    padding: 30px;
    background: rgb(20,189,172);
    /* display: flex; */
    flex-flow: row wrap;
    justify-content: center;
    display: grid;
    column-gap: none;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
}

.overlay {
    position: fixed;
    top: 20vw;
    right: 12rem;
    bottom: 20vw;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    transition: opacity 0.3s ease; /* Smooth transition for opacity changes */
    z-index: 999; /* Ensure the overlay appears above other content */
    pointer-events: none; /* Allow interaction with elements beneath the overlay */
  
    /* Optional: Add box shadow for a subtle shadow effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Horizontal offset, vertical offset, blur radius, color */
  }